body{
    background-color: gainsboro;
}
.section{
    text-align:left;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 2px solid darkgray;
  width: 565px;
    position: relative
}
#h1{
    width: 300px;
}
#3_5{float: right
    position: fixed;
}

#rec2{
    float: right;
}
.recuadros {
    background-color: #fff;
    padding: 17px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 2px solid darkgray;
    width: 255px;
}
#rec4{
    float: right;
}
#texto{
    text-align: left;
    width: 180px;
}
#bottom{
background-color: black;
border-radius: 7px;
}

#registro{float:right;
        text-align:left;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 2px solid darkgray;
   width: 700px;
    height: 450px;
}
#table{

   width: 700px;
}
#tabla_abajo{
    width:700px;
    height:330px;
}
.derecha{
    float:right
}
.izquierda{
    float:left
}
