body{
    background-color: gainsboro;
}  
    
}
#h1{
    width: 300px;
}
#3_5{float: right;
        }

#rec2{
    float: right;
    position: absolute;
    left: 1048px;
}
.recuadros {
    background-color: #fff;
    padding: 17px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 2px solid darkgray;
    width: 255px;
}
#rec4{
    float: right;
    position: absolute;
    left: 1048px;
    top: 348px;
}



#rec5{    background-color: #fff;
    padding: 17px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 2px solid darkgray;
    width: 255px;
        position: absolute;
    left: 1048px;
    top: 182px;
}
#texto{
    text-align: left;
    width: 180px;
}
#bottom{
background-color: black;
border-radius: 7px;
}

#registro{position: absolute;
    top:200px;
    left: 370px;
        text-align:left;
    background-color: #fff;
    padding: 5px;
    
    border: 2px solid darkgray;
   width: 585px;
    height: 300px;
}
#table{

   width: 700px;
}
#tabla_abajo{
    width:700px;
    height:330px;
}
.derecha{
    float:right
}
.izquierda{
    float:left
}
